[project]
name = "{{ project_name }}"
dynamic = ["version"]
description = ""
readme = "{{ readme_file_name }}"
authors = [
  {%- for project_author in project_authors|sort %}
  { name = "{{ project_author.name }}", email = "{{ project_author.email }}" },
  {%- endfor %}
]
# linked to [tool.uv] environments
# python3.6
# - uv minium python support - https://docs.astral.sh/uv/reference/policies/python/#python-versions
# python3.7
# - pytest >= 7.1.0 (tester) - https://docs.pytest.org/en/stable/changelog.html#pytest-7-1-0-2022-03-13
# python3.8
# - uv >= 0.7 (auditor) - https://github.com/astral-sh/uv/blob/main/changelogs/0.7.x.md
# python3.10
# - zensical minimum python support - (documenter) - https://github.com/zensical/zensical/blob/v0.0.3/pyproject.toml#L36
requires-python = ">=3.10"
dependencies = []

# Dependencies that will be installed for the specific module call.
[dependency-groups]
{%- for module, dependencies in dependency_groups|dictsort %}
{{ module }} = ["{{ dependencies|list|sort|join('", "') }}"]
{%- endfor %}

[project.urls]
# "Homepage" = ""
# "Documentation" = ""
# "Repository" = ""
# "Issues" = ""
# "Changelog" = ""
# "Release Notes" = ""
# "Community" = ""
# "Twitter" = ""

[build-system]
requires = ["hatchling==1.31.0", "hatch-vcs==0.5.0"]
build-backend = "hatchling.build"

[tool.uv]
# linked to [project] requires-python
environments = [
  "python_version == '3.10'",
  "python_version == '3.11'",
  "python_version == '3.12'",
  "python_version == '3.13'",
  "python_version == '3.14'",
]

[tool.hatch.version]
source = "vcs"
fallback-version = "0.0.0+unknown"
