[pytest]
addopts = -vv --cov --cov-report=term --cov-report=xml --cov-config={{ project_coveragerc_path }}
python_files = test_*.py
pythonpath = {{ project_source_path }}
testpaths = {{ project_tests_path }}
# pytest-asyncio
asyncio_mode = strict
asyncio_default_fixture_loop_scope = function
