# target-version = "py38"
cache-dir = "{{cache_folder}}"
{%- if exclude is defined and exclude|length > 0 %}
exclude = ["{{ exclude|join('", "') }}"]
{%- endif %}
respect-gitignore = true
line-length = 100

[lint]
select = [
  "A",     # flake8-builtins
  "ASYNC", # flake8-async
  "B",     # flake8-bugbear
  "C90",   # mccabe (complexity)
  "D",     # pydocstyle
  "E",     # pycodestyle errors
  "EM",    # flake8-errmsg
  "F",     # Pyflakes
  "FA",    # flake8-future-annotations
  "I",     # isort
  "N",     # pep8-naming
  "PERF",  # Perflint
  "PIE",   # flake8-pie
  "PLR",   # Pylint Refactor
  "PLW",   # Pylint Warning
  "PTH",   # flake8-use-pathlib
  "RUF",   # Ruff-specific rules
  "S",     # flake8-bandit (security)
  "SIM",   # flake8-simplify
  "T10",   # flake8-debugger
  "UP",    # pyupgrade
  "W",     # pycodestyle warnings
]
ignore = [
  "D203",    # one-blank-line-before-class (conflicts with D211)
  "D212",    # multi-line-summary-first-line (conflicts with D213)
  "S101",    # Use of assert detected (highly annoying if using pytest)
  "PLR2004", # Magic value used in comparison
]
# extend-ignore = []

[lint.pydocstyle]
convention = "google"

[lint.per-file-ignores]
# Ignore assert warnings in all test files
# TODO: replace this for jinja parameter
"tests/unit/**/*.py" = ["S101"]
